/*Add your CSS below!*/

div {
	display: inline-block;
	margin-left: 5px;
	width:100px;
	height:100px;
	border-radius:100%;
	border:2px solid black;
}

.friend{
    border:2px dashed #008000;
}

.family{
    border:2px dashed #0000ff;
}

.enemy{
    border:2px dashed #ff0000;
}

#best_friend{
    border:4px solid #00c957;
}

#archnemesis{
    border:4px solid #cc0000;
}