div {
	height: 300px;
	width: 300px;
	border: 2px solid black;
	border-radius: 5px;
	background-color: #308014;
	/*Add your CSS here!*/
	float:right;
	
}

p {
	font-family: Verdana, sans-serif;
	font-size: 20px;
	width: 280px;
	/*Add your CSS here!*/
	float:left;
	
}