$white : #ffffff;
$color1 : #FFCFCF;

html, body {
  margin: 0;
  font-family: Arial;
  color: $white;
}

p, a {
  font-size: 0.75rem;
}

img {
  padding-left: 30px;
  height: 350px;
  width: 550px;
}

ul {
  list-style: none;
}

.container {
  min-height: 100%;
  display: flex;

  .nav {
    width: 15%;
    min-width: 140px;
    color: $color1;
    padding-top: 55px;
    padding-right: 30px;
    text-align: center;
    h4 {
      -webkit-margin-before: 0;
      margin-left: 50px;
    }
    ul {
      list-style: none;
    }
  }

  .main {
    width: 85%;
    min-height: 750px;
    min-width: 600px;
    background-color: $color1;

    h1 {
      font-size: 62px;
      -webkit-margin-before: 0;
      padding-top: 40px;
      padding-left: 30px;
    }

    video {
      padding-left: 30px;
    }
    a {
      color: inherit;
      padding-left: 30px;
      text-decoration: none;
    }

    a:hover {
      text-decoration: underline;
    }

    p {
      padding-left: 30px;
      width: 55%;
      min-width: 550px;
    }
  }


}


