/*You can do this! Write your CSS below.*/
h3 {
    color:red;
}

p{
    font-family:Courier;
}

span{
    background-color:yellow;
}


/*12/26*/
h1{
    font-family:Verdana;
}

h3{
    font-family:Courier;
}

p{
    color:purple;
}
/*css comment*/