<div class="jumbotron">
  <div class="container">
    <div class="header">
      <div class="row">
        <div class="col-md-2">
          <img src="https://s3.amazonaws.com/codecademy-content/projects/bolt-network/logo.svg" width="180" height="34">
        </div>
      </div>
    </div>

    <div class="main">
      <h1>Watch your favorite movies, instantly.</h1>
      <a class="btn btn-default" href="#">Learn More</a>
      <form class="form-inline" role="form">
        <div class="form-group">
          <input type="text" class="form-control" id="search" placeholder="Browse the collection">
        </div>
        <button type="submit" class="btn btn-submit">Search</button>
      </form>
    </div>
  </div>
</div>

<div class="supporting">
  <div class="container">
    <h2>A world of movies at your fingertips.</h2>
    <p>Choose from the latest titles, with new movies added every day.</p>
    <div class="row">
      <div class="col-md-8">
        <div class="thumbnail">
          <!-- The Avengers -->
          <img src="https://s3.amazonaws.com/codecademy-content/projects/bolt-network/the-avengers.jpg">
        </div>
      </div>
      <div class="col-md-4">
        <div class="thumbnail">
          <!-- Harry Potter and the Deathly Hallows -->
          <img src="https://s3.amazonaws.com/codecademy-content/projects/bolt-network/harry-potter.jpg">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <div class="thumbnail">
          <!-- Frozen -->
          <img src="https://s3.amazonaws.com/codecademy-content/projects/bolt-network/frozen.jpg">
        </div>
      </div>
      <div class="col-md-4">
        <div class="thumbnail">
          <!-- Iron Man 3 -->
          <img src="https://s3.amazonaws.com/codecademy-content/projects/bolt-network/iron-man.jpg">
        </div>
      </div>
      <div class="col-md-4">
        <div class="thumbnail">
          <!-- Transformers: Dark of the Moon -->
          <img src="https://s3.amazonaws.com/codecademy-content/projects/bolt-network/transformers.jpg">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <div class="thumbnail">
          <!-- The Lord of the Rings -->
          <img src="https://s3.amazonaws.com/codecademy-content/projects/bolt-network/the-lord-of-the-rings.jpg">
        </div>
      </div>
      <div class="col-md-8">
        <div class="thumbnail">
          <!-- Skyfall -->
          <img src="https://s3.amazonaws.com/codecademy-content/projects/bolt-network/skyfall.jpg">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <div class="thumbnail">
          <!-- The Dark Knight Rises -->
          <img src="https://s3.amazonaws.com/codecademy-content/projects/bolt-network/the-dark-knight.jpg">
        </div>
      </div>
      <div class="col-md-4">
        <div class="thumbnail">
          <!-- Pirates of the Caribbean -->
          <img src="https://s3.amazonaws.com/codecademy-content/projects/bolt-network/pirates-of-the-caribbean.jpg">
        </div>
      </div>
      <div class="col-md-4">
        <div class="thumbnail">
          <!-- Toy Story 3 -->
          <img src="https://s3.amazonaws.com/codecademy-content/projects/bolt-network/toy-story-3.jpg">
        </div>
      </div>
    </div>
  </div>
</div>

<div class="feature">
  <div class="container">
    <h1>Available everywhere</h1>
    <p>Start watching on one device, and pick up where you left off on another device.</p>
  </div>
</div>

<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <h3>Bolt</h3>
        <ul>
          <li>Careers</li>
          <li>Terms</li>
          <li>Help</li>
        </ul>
      </div>
      <div class="col-md-3">
        <h3>More Bolt</h3>
        <ul>
          <li>Gift Cards</li>
          <li>Trailers</li>
        </ul>
      </div>
      <div class="col-md-3">
        <h3>News</h3>
        <ul>
          <li>Blog</li>
          <li>Twitter</li>
          <li>YouTube</li>
          <li>Google+</li>
          <li>Facebook</li>
        </ul>
      </div>
    </div>
  </div>
</div>
