/*Add your CSS below!*/
p:first-child{
    font-family:cursive;
}

p:nth-child(2) {
    font-family:Tahoma;
}

p:nth-child(3){
    color:#cc0000;
}

p:nth-child(4){
    background-color:#00ff00;
}

p:nth-child(5){
    font-size:22px;
}
